*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:active, a:visited {
display: block;
}

ul,li,ol {
  list-style: none;
}

.custom-center-all{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 /* a {
  font-weight: 500;
  color: #fafaff;
  text-decoration: inherit;
}  */


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Admin_css */

.cus-mt-170{
  margin-top: 165px;
}

.cus-mt-180{
  margin-top: 180px !important;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}
.custom-table th, .custom-table td {
  padding: 10px;
  text-align: left;
  font-family: "Cormorant Garamond";
}
.custom-table .actions {
  display: flex;
  gap: 10px;
}

.a-btn:hover{
  filter: drop-shadow(0px 6px 4.5px rgba(65,66,72,0.16));
  box-shadow: inset 0px 4px 3px #ffffff;
  background-color: black;
  color: #fff;
}

.admin-m-title{
  font-family: "Cormorant Garamond"
}


@media (max-width: 480px) {
.cus-mt-0{
  margin-top: 100px;
}
/* .slick-list {
  position: relative;
  display: block;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}
.slick-initialized .slick-slide {
  display: block;
  margin-left: 0 !important;
} */
}





.slick-initialized .slick-slide {
  display: block;
  padding: 10px;
}

.slick-dots {

  position: absolute;

  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

a{
  text-decoration: none !important;
}

#sidebar {
  transition: all 0.3s;
  z-index: 1000;
  margin-top: 54px;
  position: fixed;
  background-color: #dddddd;
  color: var(--heading-font-color);
  overflow-x: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
}

/* For Chrome, Edge, and Safari */
#sidebar::-webkit-scrollbar {
  display: none;
}


.admin-nav-link{
  color: var(--heading-font-color) !important;
  font-weight: 800 !important;
  font-family: var(--heading-font) !important;

}
#content {
 
  transition: all 0.3s;
}
.content-m-250{
  margin-left: 250px;
}

.content-m-100{
margin-left: 80px;
}

.admin-nav-link {
  border-radius: 5px;
  margin: 2px 0;
  transition: all 0.3s;
}

.admin-nav-link:hover {
  background: #4b545c;
}

.admin-nav-link.active {
  background: #0d6efd;
  color: white !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    position: fixed;
    top: 56px;
    height: calc(100vh - 56px);
  }
  
  #content {
    margin-left: 0;
  }
  
  #sidebar.active {
    margin-left: 0;
  }
}

.main-content {
  margin-top: 92px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}